{% extends "auctions/layout.html" %}

{% block body %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <h4>Active Listings</h4>

    <ul>
        {% for listing in listings %}
            <li>
                <p><img src="{{ listing.image_url }}" alt="{{ listing.item_name }}"></p>
                <div>
                    <p>Item: <a href="{% url 'listed_item' listing.id %}">{{ listing.item_name.title }}</a></p>
                    <div class="listings">
                        <p>Description: {{ listing.description }}</p>
                        <small>Starting Price: <strong>${{ listing.starting_price }}</strong></small>
                        <p>Current Price: <strong>${{ listing.current_price }}</strong></p>
                        {% if listing.active %}
                            <small>Item status: <strong>Active</strong></small>
                            <br>
                        {% else %}
                            <small>Item status: <strong>Not Active</strong></small>
                            <br>
                        {% endif %}
                        <small>Created {{ listing.date_created }}</small>
                    </div>
                </div>
            </li>
            <hr>
        {% endfor %}
    </ul>
    
{% endblock %}

