{% extends "auctions/layout.html" %}

{% block body %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                Request {{ message }}!
            </div>
        {% endfor %}
    {% endif %}

    <h2>{{ watchlists.user.title }} Watchlists</h2>

    <ul>
        {% for listing in watchlists %}
            <li>
                <img src="{{ listing.auction_item.image_url }}" alt="{{ listing.auction_item.item_name }}">

                <div>

                    <p>Item: <a href="{% url 'listed_item' listing.auction_item.id %}">{{ listing.auction_item.item_name.title }}</a></p>

                    <div class="listings">
                        <p>Description: {{ listing.auction_item.description }}</p>
                        <p>Current Price: <strong>${{ listing.auction_item.current_price }}</strong></p>
                        <small>Created {{ listing.auction_item.date_created }}</small>
                    </div>
                </div>
                <form action="{% url 'remove_item' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" value="{{ listing.auction_item.id }}" name="item_id">
                    <input type="submit" value="Remove Item">
                </form>
            </li>
            
            <hr>
        {% empty %}
            <p>No items on your watchlists.</p>
        {% endfor %}
    </ul>
    
{% endblock %}

